<section class="about" id="about">
  <img class="about-cloud" src="./img/about-cloud.png" alt="" />
  <img class="desktop-about-cloud" src="./img/desktop-about-cloud.png" alt="" />
  <h2 class="about-title">About the Game</h2>
  <p class="about-text">
    Matching Story - Puzzle Games offers an enchanting adventure where puzzles
    meet storytelling. Match tiles, solve intricate puzzles, and unlock chapters
    of an immersive narrative. As you progress, you'll meet charming characters,
    discover hidden treasures, and transform magical worlds. It's a perfect
    blend of strategy, creativity, and relaxation!
    <img
      width="64px"
      height="115px"
      class="about-girl"
      src="./img/about-girl.png"
      alt=""
    />
  </p>
</section>
