<section class="benefits" id="benefits">
  <h2 class="benefits-title">Benefits</h2>
  <ul class="benefits-list">
    <li class="benefits-item">
      <img
        class="benefits-butterfly-1"
        src="./img/benefits-butterfly-1.png"
        alt=""
      />
      <h3>Engaging Gameplay</h3>
      <p>A unique mix of matching puzzles and an evolving storyline.</p>
    </li>
    <li class="benefits-item">
      <img
        class="benefits-butterfly-3"
        src="./img/benefits-butterfly-1.png"
        alt=""
      />
      <h3>Daily Rewards</h3>
      <p>Keep coming back for surprises, rare items, and bonus boosts.</p>
    </li>
    <li class="benefits-item">
      <h3>Rich Visuals</h3>
      <p>
        Stunning hand-drawn scenes and vibrant animations that captivate
        players.
      </p>
    </li>
    <li class="benefits-item">
      <h3>Magical Narrative</h3>
      <p>
        <img
          width="156px"
          height="251px"
          class="benefits-fairy"
          src="../img/benefits-fairy.png"
          alt=""
        />Uncover stories and interact with characters as you solve puzzles.
      </p>
    </li>
    <li class="benefits-item">
      <img
        class="benefits-butterfly-2"
        src="./img/benefits-butterfly-2.png"
        alt=""
      />
      <h3>Relaxing Challenges</h3>
      <p>Designed to unwind your mind while keeping you engaged.</p>
    </li>
  </ul>
</section>
