<section id="faq" class="section container fairy-position">
  <picture>
    <source
      media="(max-width: 1199.98px)"
      srcset="img/faq/fairy_small.png"
      type="image/png"
    />
    <source
      media="(min-width: 1200px)"
      srcset="img/faq/fairy.png"
      type="image/png"
    />
    <img class="faq-fairy" src="img/faq/fairy_small.png" alt="arrow" />
  </picture>
  <img class="faq-first-cloud" src="img/faq/faq_cloud.png" alt="arrow" />
  <img class="faq-second-cloud" src="img/faq/faq_cloud2.png" alt="arrow" />
  <h2 class="section-title">FAQ</h2>
  <ul class="faq-list">
    <li class="faq-list-item">
      <div class="faq-list-item-container">
        <h3 class="faq-list-item-title">Is this game free to play?</h3>
        <div class="faq-list-item-svg">
          <picture>
            <source
              media="(max-width: 1199.98px)"
              srcset="img/faq/arrow-small.png"
              type="image/png"
            />
            <source
              media="(min-width: 1200px)"
              srcset="img/faq/arrow.png"
              type="image/png"
            />
            <img
              class="faq-list-item-img"
              src="img/faq/arrow-small.png"
              alt="arrow"
            />
          </picture>
        </div>
      </div>
      <div class="faq-answer-wrapper">
        <div class="faq-answer-item-wrapper">
          <p class="faq-list-item-answer">
            Yes, the game is free to download and play, with optional in-app
            purchases available.
          </p>
        </div>
      </div>
    </li>
    <li class="faq-list-item">
      <div class="faq-list-item-container">
        <h3 class="faq-list-item-title">Can I play offline?</h3>
        <div class="faq-list-item-svg">
          <picture>
            <source
              media="(max-width: 1199.98px)"
              srcset="img/faq/arrow-small.png"
              type="image/png"
            />
            <source
              media="(min-width: 1200px)"
              srcset="img/faq/arrow.png"
              type="image/png"
            />
            <img
              class="faq-list-item-img"
              src="img/faq/arrow-small.png"
              alt="arrow"
            />
          </picture>
        </div>
      </div>
      <div class="faq-answer-wrapper">
        <div class="faq-answer-item-wrapper">
          <p class="faq-list-item-answer">
            Some features require an internet connection, but you can enjoy
            puzzles offline.
          </p>
        </div>
      </div>
    </li>
    <li class="faq-list-item">
      <div class="faq-list-item-container">
        <h3 class="faq-list-item-title">Are there daily rewards?</h3>
        <div class="faq-list-item-svg">
          <picture>
            <source
              media="(max-width: 1199.98px)"
              srcset="img/faq/arrow-small.png"
              type="image/png"
            />
            <source
              media="(min-width: 1200px)"
              srcset="img/faq/arrow.png"
              type="image/png"
            />
            <img
              class="faq-list-item-img"
              src="img/faq/arrow-small.png"
              alt="arrow"
            />
          </picture>
        </div>
      </div>
      <div class="faq-answer-wrapper">
        <div class="faq-answer-item-wrapper">
          <p class="faq-list-item-answer">
            Yes! Log in daily for exclusive rewards, boosts, and surprises.
          </p>
        </div>
      </div>
    </li>
    <li class="faq-list-item">
      <div class="faq-list-item-container">
        <h3 class="faq-list-item-title">How often are updates released?</h3>
        <div class="faq-list-item-svg">
          <picture>
            <source
              media="(max-width: 1199.98px)"
              srcset="img/faq/arrow-small.png"
              type="image/png"
            />
            <source
              media="(min-width: 1200px)"
              srcset="img/faq/arrow.png"
              type="image/png"
            />
            <img
              class="faq-list-item-img"
              src="img/faq/arrow-small.png"
              alt="arrow"
            />
          </picture>
        </div>
      </div>
      <div class="faq-answer-wrapper">
        <div class="faq-answer-item-wrapper">
          <p class="faq-list-item-answer">
            Updates are released regularly, adding new puzzles, story chapters,
            and events.
          </p>
        </div>
      </div>
    </li>
    <li class="faq-list-item">
      <div class="faq-list-item-container">
        <h3 class="faq-list-item-title">What devices are supported?</h3>
        <div class="faq-list-item-svg">
          <picture>
            <source
              media="(max-width: 1199.98px)"
              srcset="img/faq/arrow-small.png"
              type="image/png"
            />
            <source
              media="(min-width: 1200px)"
              srcset="img/faq/arrow.png"
              type="image/png"
            />
            <img
              class="faq-list-item-img"
              src="img/faq/arrow-small.png"
              alt="arrow"
            />
          </picture>
        </div>
      </div>
      <div class="faq-answer-wrapper">
        <div class="faq-answer-item-wrapper">
          <p class="faq-list-item-answer">
            The game supports most Android and iOS devices with updated
            operating systems.
          </p>
        </div>
      </div>
    </li>
    <li class="faq-list-item">
      <div class="faq-list-item-container">
        <h3 class="faq-list-item-title">Are there ads in the game?</h3>
        <div class="faq-list-item-svg">
          <picture>
            <source
              media="(max-width: 1199.98px)"
              srcset="img/faq/arrow-small.png"
              type="image/png"
            />
            <source
              media="(min-width: 1200px)"
              srcset="img/faq/arrow.png"
              type="image/png"
            />
            <img
              class="faq-list-item-img"
              src="img/faq/arrow-small.png"
              alt="arrow"
            />
          </picture>
        </div>
      </div>
      <div class="faq-answer-wrapper">
        <div class="faq-answer-item-wrapper">
          <p class="faq-list-item-answer">
            Yes, but ads are optional and provide additional rewards if watched.
          </p>
        </div>
      </div>
    </li>
    <li class="faq-list-item">
      <div class="faq-list-item-container">
        <h3 class="faq-list-item-title">
          Can I sync my progress across devices?
        </h3>
        <div class="faq-list-item-svg">
          <picture>
            <source
              media="(max-width: 1199.98px)"
              srcset="img/faq/arrow-small.png"
              type="image/png"
            />
            <source
              media="(min-width: 1200px)"
              srcset="img/faq/arrow.png"
              type="image/png"
            />
            <img
              class="faq-list-item-img"
              src="img/faq/arrow-small.png"
              alt="arrow"
            />
          </picture>
        </div>
      </div>
      <div class="faq-answer-wrapper">
        <div class="faq-answer-item-wrapper">
          <p class="faq-list-item-answer">
            Absolutely! Connect your account to save progress and sync it on
            multiple devices
          </p>
        </div>
      </div>
    </li>
    <li class="faq-list-item">
      <div class="faq-list-item-container">
        <h3 class="faq-list-item-title">Is this game suitable for all ages?</h3>
        <div class="faq-list-item-svg">
          <picture>
            <source
              media="(max-width: 1199.98px)"
              srcset="img/faq/arrow-small.png"
              type="image/png"
            />
            <source
              media="(min-width: 1200px)"
              srcset="img/faq/arrow.png"
              type="image/png"
            />
            <img
              class="faq-list-item-img"
              src="img/faq/arrow-small.png"
              alt="arrow"
            />
          </picture>
        </div>
      </div>
      <div class="faq-answer-wrapper">
        <div class="faq-answer-item-wrapper">
          <p class="faq-list-item-answer">
            Yes, it’s family-friendly and suitable for players of all ages.
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>
