<footer class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <a href="./privacy-policy.html" class="footer-link">Privacy Policy</a>
      <span class="divider">/</span>
      <button class="footer-logo-button">
        <img
          class="footer-logo-icon"
          width="50px"
          height="50px"
          src="./img/desktop-logo.png"
          alt="logo"
        />
      </button>
      <a href="terms&conditions.html" class="footer-link">Terms & Conditions</a>
    </div>
  </div>
  <p class="footer-text">
    All rights reserved, 2025.
    <a href="https://luckyblazepro.com">luckyblazepro.com</a>
  </p>
</footer>
