<section id="gallery" class="gallery">
  <h2 class="section-title">Gallery</h2>
  <swiper-container>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1199.98px)"
              srcset="img/gallery/image_1_small.png"
              type="image/png"
            />
            <source
              media="(min-width: 1200px)"
              srcset="img/gallery/image_1.png"
              type="image/png"
            />
            <img
              class="gallery-image"
              src="img/gallery/image_1_small.png"
              alt="img_1"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1199.98px)"
              srcset="img/gallery/image_2_small.png"
              type="image/png"
            />
            <source
              media="(min-width: 1200px)"
              srcset="img/gallery/image_2.png"
              type="image/png"
            />
            <img
              class="gallery-image"
              src="img/gallery/image_2_small.png"
              alt="img_1"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1199.98px)"
              srcset="img/gallery/image_3_small.png"
              type="image/png"
            />
            <source
              media="(min-width: 1200px)"
              srcset="img/gallery/image_3.png"
              type="image/png"
            />
            <img
              class="gallery-image"
              src="img/gallery/image_3_small.png"
              alt="img_1"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1199.98px)"
              srcset="img/gallery/image_4_small.png"
              type="image/png"
            />
            <source
              media="(min-width: 1200px)"
              srcset="img/gallery/image_4.png"
              type="image/png"
            />
            <img
              class="gallery-image"
              src="img/gallery/image_4_small.png"
              alt="img_1"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1199.98px)"
              srcset="img/gallery/image_5_small.png"
              type="image/png"
            />
            <source
              media="(min-width: 1200px)"
              srcset="img/gallery/image_5.png"
              type="image/png"
            />
            <img
              class="gallery-image"
              src="img/gallery/image_5_small.png"
              alt="img_1"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1199.98px)"
              srcset="img/gallery/image_6_small.png"
              type="image/png"
            />
            <source
              media="(min-width: 1200px)"
              srcset="img/gallery/image_6.png"
              type="image/png"
            />
            <img
              class="gallery-image"
              src="img/gallery/image_6_small.png"
              alt="img_1"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1199.98px)"
              srcset="img/gallery/image_7_small.png"
              type="image/png"
            />
            <source
              media="(min-width: 1200px)"
              srcset="img/gallery/image_7.png"
              type="image/png"
            />
            <img
              class="gallery-image"
              src="img/gallery/image_7_small.png"
              alt="img_1"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1199.98px)"
              srcset="img/gallery/image_8_small.png"
              type="image/png"
            />
            <source
              media="(min-width: 1200px)"
              srcset="img/gallery/image_8.png"
              type="image/png"
            />
            <img
              class="gallery-image"
              src="img/gallery/image_8_small.png"
              alt="img_1"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1199.98px)"
              srcset="img/gallery/image_9_small.png"
              type="image/png"
            />
            <source
              media="(min-width: 1200px)"
              srcset="img/gallery/image_9.png"
              type="image/png"
            />
            <img
              class="gallery-image"
              src="img/gallery/image_9_small.png"
              alt="img_1"
            />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1199.98px)"
              srcset="img/gallery/image_10_small.png"
              type="image/png"
            />
            <source
              media="(min-width: 1200px)"
              srcset="img/gallery/image_10.png"
              type="image/png"
            />
            <img
              class="gallery-image"
              src="img/gallery/image_10_small.png"
              alt="img_1"
            />
          </picture>
        </div>
      </div>
      <div class="swiper-pagination" style="position: unset"></div>
      <div class="swiper-button-next">
        <div class="swiper-slide">
          <picture>
            <source
              media="(max-width: 1199.98px)"
              srcset="img/gallery/index_finger_right.png"
              type="image/png"
            />
            <source
              media="(min-width: 1200px)"
              srcset="img/gallery/index_finger_right-desk.png"
              type="image/png"
            />
            <img src="img/gallery/index_finger_right.png" alt="next" />
          </picture>
        </div>
      </div>
      <div class="swiper-button-prev">
        <picture>
          <source
            media="(max-width: 1199.98px)"
            srcset="img/gallery/index_finger_left.png"
            type="image/png"
          />
          <source
            media="(min-width: 1200px)"
            srcset="img/gallery/index_finger_left-desk.png"
            type="image/png"
          />
          <img src="img/gallery/index_finger_left.png" alt="prew" />
        </picture>
      </div>
    </div>
  </swiper-container>
</section>
