<section id="gallery" class="section container">
  <h2 class="section-title">Gallery</h2>
  <swiper-container>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="img/gallery/Rectangle_33.png" alt="img_1" />
        </div>
        <div class="swiper-slide">
          <img src="img/gallery/Rectangle_34.png" alt="img_2" />
        </div>
        <div class="swiper-slide">
          <img src="img/gallery/Rectangle_35.png" alt="img_3" />
        </div>
        <div class="swiper-slide">
          <img src="img/gallery/Rectangle_36.png" alt="img_4" />
        </div>
        <div class="swiper-slide">
          <img src="img/gallery/Rectangle_37.png" alt="img_5" />
        </div>
        <div class="swiper-slide">
          <img src="img/gallery/Rectangle_38.png" alt="img_6" />
        </div>
        <div class="swiper-slide">
          <img src="img/gallery/Rectangle_39.png" alt="img_7" />
        </div>
        <div class="swiper-slide">
          <img src="img/gallery/Rectangle_40.png" alt="img_8" />
        </div>
        <div class="swiper-slide">
          <img src="img/gallery/Rectangle_41.png" alt="img_9" />
        </div>
        <div class="swiper-slide">
          <img src="img/gallery/Rectangle_42.png" alt="img_10" />
        </div>
      </div>
      <div class="swiper-pagination" style="position: unset"></div>
      <div class="swiper-button-next">
        <img src="img/gallery/index_finger_right.png" alt="next" />
      </div>
      <div class="swiper-button-prev">
        <img src="img/gallery/index_finger_left.png" alt="prew" />
      </div>
    </div>
  </swiper-container>
</section>
