<header class="header">
  <div class="container">
    <div class="buttons">
      <button class="logo-button">
        <img
          class="logo-icon"
          width="40px"
          height="40px"
          src="./img/logo-mobile.png"
          alt="logo"
        />
      </button>
      <button class="menu-button">
        <img
          class="menu-icon"
          width="18px"
          height="12px"
          src="./img/three-lines.png"
          alt="menu"
        />
      </button>
    </div>
    <nav class="desktop-nav">
      <ul class="desktop-nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#hero">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About the Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#benefits">Benefits</a>
        </li>
        <button class="logo-button">
          <img
            class="logo-icon"
            width="80px"
            height="80px"
            src="./img/desktop-logo.png"
            alt="logo"
          />
        </button>
        <li class="nav-item">
          <a class="nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#why-us">Why us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#fag">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="backdrop">
  <div class="background">
    <nav class="nav">
      <button class="close-button" type="button" aria-label="Close modal">
        <img
          class="close-icon"
          width="17.6px"
          height="17.6px"
          src="./img/close.png"
          alt="X"
        />
      </button>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#hero">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About the Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#benefits">Benefits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#why-us">Why us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
