<section class="hero" id="hero">
  <div class="container">
    <div class="hero-container">
      <img class="hero-phones" src="./img/hero-phones.png" alt="two phones" />

      <img
        class="hero-cloud"
        src="./img/clouds/main-cloud-1-small.png"
        alt="cloud"
      />
      <img
        class="desktop-hero-cloud"
        src="./img/clouds/main-cloud-1-4-5-6-small.png"
        alt="cloud"
      />
      <div class="desktop-phones-container">
        <img class="desktop-phones" src="./img/desktop-phones.png" alt="" />
      </div>

      <div class="hero-content">
        <h1 class="hero-title">Matching Story - Puzzle Games</h1>
        <p class="hero-text">
          Solve puzzles, unlock stories, and create your magical world!
        </p>
        <a
          href="https://play.google.com/store/apps/details?id=com.joycastle.mergematch"
          class="hero-button"
        >
          <img
            class="google-play-icon"
            width="23px"
            height="26px"
            src="./img/google-play-icon.png"
            alt=""
          /><span class="google-play-text">Play Now on</span>
          <span class="google-play-store">Google play</span>
        </a>
      </div>
    </div>
  </div>
</section>
