<section class="hero">
  <img class="hero-phones" src="./img/hero-phones.png" alt="two phones" />
  <h1 class="hero-title">Matching Story - Puzzle Games</h1>
  <p class="hero-text">
    Solve puzzles, unlock stories, and create your magical world!
  </p>
  <button class="hero-button">
    <img
      class="google-play-icon"
      width="23px"
      height="26px"
      src="./img/google-play-icon.png"
      alt=""
    /><span class="google-play-text">Play Now on</span>
    <span class="google-play-store">Google play</span>
  </button>
</section>
