<section id="reviews" class="section">
  <h2 class="section-title">Reviews</h2>
  <ul class="reviews-list">
    <li class="reviews-item">
      <img class="item-1" src="img/reviews/item-1.png" alt="cloud" />
      <div class="reviews-item-1-wrapper">
        <img
          class="reviews-item-img"
          src="img/reviews/Ellipse_11.png"
          alt="user-image"
        />
        <h3 class="reviews-nickname">PuzzleMaster87</h3>
        <p class="reviews-text">
          One of the best puzzle games I’ve played! The story keeps me hooked,
          and the puzzles are so fun!
        </p>
      </div>
    </li>
    <li class="reviews-item">
      <img class="item-2" src="img/reviews/item-2.png" alt="cloud" />
      <div class="reviews-item-2-wrapper">
        <img
          class="reviews-item-img"
          src="img/reviews/Ellipse_13.png"
          alt="user-image"
        />
        <h3 class="reviews-nickname">MagicalMindy</h3>
        <p class="reviews-text">
          I love how the game blends matching tiles with storytelling. The
          characters are adorable!
        </p>
      </div>
    </li>
    <li class="reviews-item">
      <img class="item-3" src="img/reviews/item-3.png" alt="cloud" />
      <div class="reviews-item-3-wrapper">
        <img
          class="reviews-item-img"
          src="img/reviews/Ellipse_14.png"
          alt="user-image"
        />
        <h3 class="reviews-nickname">RelaxAndPlay</h3>
        <p class="reviews-text">
          Perfect for unwinding after a long day. The visuals are stunning, and
          the gameplay is smooth.
        </p>
      </div>
    </li>
    <li class="reviews-item">
      <img class="item-4" src="img/reviews/item-4.png" alt="cloud" />
      <div class="reviews-item-4-wrapper">
        <img
          class="reviews-item-img"
          src="img/reviews/Ellipse_12.png"
          alt="user-image"
        />
        <h3 class="reviews-nickname">GameLover99</h3>
        <p class="reviews-text">
          I can't get enough of the daily rewards and challenges! Keeps me
          coming back every day.
        </p>
      </div>
    </li>
    <li class="reviews-item">
      <img class="item-5" src="img/reviews/item-5.png" alt="cloud" />
      <div class="reviews-item-5-wrapper">
        <img
          class="reviews-item-img"
          src="img/reviews/Ellipse_15.png"
          alt="user-image"
        />
        <h3 class="reviews-nickname">HappyMerger</h3>
        <p class="reviews-text">
          Such a creative twist on matching games. Highly recommend for puzzle
          lovers!
        </p>
      </div>
    </li>
  </ul>
</section>
