<section id="why-us" class="section container cloud-position">
  <img class="first-cloud" src="img/why-us/cloud.png" alt="cloud" />
  <img class="second-cloud" src="img/why-us/cloud2.png" alt="cloud" />
  <h2 class="section-title on-cloud">Why us?</h2>
  <ul class="why-list">
    <li class="why-list-item">
      <img class="why-list-item-img one" src="img/why-us/one.png" alt="one" />
      <h3 class="why-list-item-title">Unique Blend of Gameplay</h3>
      <p class="why-list-item-text">
        Combines matching puzzles with an engaging narrative for a fresh and
        exciting experience.
      </p>
    </li>
    <li class="why-list-item">
      <img class="why-list-item-img two" src="img/why-us/two.png" alt="two" />
      <h3 class="why-list-item-title">Character-Driven Storylines</h3>
      <p class="why-list-item-text">
        Form connections with magical characters who grow and evolve with the
        story.
      </p>
    </li>
    <li class="why-list-item">
      <img
        class="why-list-item-img three"
        src="img/why-us/three.png"
        alt="three"
      />
      <h3 class="why-list-item-title">Regular Updates</h3>
      <p class="why-list-item-text">
        Regular Updates: New chapters, puzzles, and surprises keep the game
        dynamic and ever-evolving.
      </p>
    </li>
    <li class="why-list-item">
      <img
        class="why-list-item-img four"
        src="img/why-us/four.png"
        alt="four"
      />
      <h3 class="why-list-item-title">Community Engagement</h3>
      <p class="why-list-item-text">
        Join a growing community of players sharing tips, strategies, and love
        for the game.
      </p>
    </li>
  </ul>
</section>
