.about-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26.38px;
  font-family: 'Roboto Slab', sans-serif;
  margin-bottom: 24px;
}
.about {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 320px;
  justify-self: center;
  scroll-margin-top: 100px;
  position: relative;
}
.about-cloud {
  position: absolute;
  width: 197px;

  left: -24px;
  bottom: -300px;
  z-index: 0;
}
.about-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
  background: radial-gradient(
    87.96% 87.96% at 50% 50%,
    #78cffd 39.5%,
    #008dd7 100%
  );
  width: 272px;
  height: 177px;

  border-radius: 25px;
  border: 1px solid #4285f433;
  padding: 12px 8px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.about-girl {
  position: absolute;
  top: -57px;
  right: -18px;
  z-index: 2;
  width: 64px;
  height: 115px;
}
.desktop-about-cloud {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 100px;
    max-width: 1200px;
  }
  .about-cloud {
    display: none;
  }
  .about-girl {
    width: 151.55px;
    height: 257.79px;
    top: -143px;
    right: -49px;
  }
  .about-text {
    width: 1080px;
    height: 152px;

    font-size: 20px;
    line-height: 24px;
  }
  .about-title {
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 32px;
    line-height: 42.2px;
  }
  .desktop-about-cloud {
    display: block;
    position: absolute;
    width: 597px;
    top: -545px;
    left: -62px;
  }
}
