.reviews-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 90px;
  }
}

.reviews-item {
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 2;
  margin-bottom: 0;
}

.item-1 {
  margin: 0 auto;
  width: 320px;
  position: absolute;
  top: -20%;
  z-index: -1;

  @media screen and (min-width: 1200px) {
    width: 630px;
    top: 0;
  }
}

.reviews-item-1-wrapper {
  max-width: 216px;
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 55px;

  @media screen and (min-width: 1200px) {
    max-width: 307px;
    top: 40px;
  }
}

.item-2 {
  width: 320px;
  position: absolute;
  top: -22%;
  z-index: -1;

  @media screen and (min-width: 1200px) {
    width: 602px;
    top: -220px;
    right: 0;
  }
}

.reviews-item-2-wrapper {
  max-width: 250px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 58px;

  @media screen and (min-width: 1200px) {
    max-width: 305px;
    left: 734px;
    top: -160px;
  }
}

.item-3 {
  width: 320px;
  position: absolute;
  top: -22%;
  z-index: -1;

  @media screen and (min-width: 1200px) {
    width: 680px;
    top: -250px;
    left: 260px;
  }
}

.reviews-item-3-wrapper {
  max-width: 220px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 35px;

  @media screen and (min-width: 1200px) {
    max-width: 296px;
    left: 425px;
    top: -185px;
  }
}

.item-4 {
  width: 320px;
  position: absolute;
  top: -22%;
  z-index: -1;

  @media screen and (min-width: 1200px) {
    width: 620px;
    top: -240px;
    left: 0;
  }
}

.reviews-item-4-wrapper {
  max-width: 235px;
  padding-bottom: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 49px;

  @media screen and (min-width: 1200px) {
    position: absolute;

    max-width: 289px;
    left: 133px;
    top: -180px;
  }
}

.item-5 {
  width: 320px;
  position: absolute;
  top: -26%;
  z-index: -1;

  @media screen and (min-width: 1200px) {
    width: 620px;
    top: -230px;
    right: 14px;
  }
}

.reviews-item-5-wrapper {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 20px;
  padding-bottom: 19px;

  @media screen and (min-width: 1200px) {
    position: absolute;

    max-width: 288px;
    left: 743px;
    top: -165px;
  }
}

.reviews-item-img {
  width: 32px;
  height: 33px;
  margin-bottom: 4px;

  @media screen and (min-width: 1200px) {
    width: 68px;
    height: 68px;
  }
}

.reviews-nickname {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.reviews-text {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;

  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}
